html {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}


:root {
    --primary-color: #60a9ff;
    --secondary-color: #3a86ff;
    --panel-background: white;
}


body {
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    // width: 100%;
    min-height: 100vh;
    text-transform: uppercase;
    margin: 0;

}

.panel {
    background-color: var(--panel-background);
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgb(100, 100, 100);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    left: 0;

}

.pricing-plan {
    // margin: 2rem;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    // padding: 50px 70px;

    img {
        // flex-basis: 100px;
    }

    h2 {
        color: #919191;
        font-size: large;
        font-weight: 700;
        letter-spacing: 1px;
        padding-top: 1rem;
    }

    ul,
    a {
        font-weight: bold;
        font-size: small;
        color: var(--secondary-color);
        padding: 1em;
        display: flex;
        flex-direction: column;
        // width: 400px;
        // justify-content: center;
        text-align: center;
        transition: background-color .2s ease-in-out;
    }

    .pricing-price {
        color: var(--secondary-color);
        font-weight: bolder;
        font-size: larger;
        margin-bottom: 1em;
    }

    a {
        background-color: white;
        color: var(--secondary-color);
        text-decoration: none;
        border: 1px solid var(--secondary-color);
        border-radius: 7px;
        padding: .5rem 1.5rem;
    }

    .pricing-button:hover,
    .pricing-button:focus {
        background-color: #e1f1ff;
    }

    .is-featured {
        color: var(--panel-background);
        background-color: var(--secondary-color);
        // background-color: inherit;
    }

    .is-featured:hover,
    .is-featured:focus {
        background-color: #269aff;
    }


}

ul {
    // display: flex;
    // display: block;
    // flex-direction: column;
    // align-items: center;
    // justify-content: center;
    list-style-type: none;

    .pricing-features-item {
        border-top: 1px solid #e1f1ff;
        // border-bottom: 1px solid #d4d4d4;
        // margin: 1em;
        padding: 1em 4em;
    }

    .pricing-features-item:last-child {
        border-bottom: 1px solid #e1f1ff;
    }
}

.pricing-plan:nth-of-type(2n) {
    border-left: 1px solid #e1f1ff;
    // border-top: 100px;
    border-right: 1px solid #e1f1ff;
}


@media (max-width: 901px) {
    .panel {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        // width: 100%;
        // text-align: center;
        // max-width: 960px;

    }

    .pricing-img {
        width: 100%;
        margin-bottom: 10px;
        max-width: 100%;
    }

    .pricing-plan {
        border-bottom: 1px solid #e1f1ff;
    }

    .pricing-plan:last-child {
        border-bottom: 1px solid #e1f1ff;
    }

    .pricing-plan:nth-of-type(2) {
        border: none;
    }

}